<!doctype html>
<html>
        <head>
                <title>Squirrel Tracker: Add a Squirrel Sight</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
 integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        </head>
        <body>
<style>body{padding-left:10px; padding-right:10px;}</style>
		<p>
		<br>
		<strong><h2><img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2147912061,987617075&fm=26&gp=0.jpg" style="width:60px" class="rounded" alt="..." >   Did you see a new Sqiurrel?    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1602871970757&di=a1ec514f3e51bc173482be43a039f7aa&imgtype=0&src=http%3A%2F%2Fec4.images-amazon.com%2Fimages%2FI%2F91LhqdxRPaL._SL500_AA300_.png" style="width:60px" class="rounded" alt="..." ></strong>
		</h2>
		<p>Please fill out the following information to share it with us :)</p>
		<hr>
		<br>
                <form method='post'>
                        {% csrf_token %}
                        {{form.as_p}}
                        <br>
			<p>Thanks for sharing! <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1602871911590&di=6e5188db7b5486f1d058ffe4252dc914&imgtype=0&src=http%3A%2F%2Fpic.51yuansu.com%2Fpic3%2Fcover%2F01%2F19%2F87%2F590555ec13c3e_610.jpg" style="width:30px" class="rounded" alt="..." ></p>
                        <input type="submit" name="add">
			<br>
                </form>
		<br>
		<div style=font-size:12px>Icons made by <a href="http://infinitespider.com/tannic-acid-hardening-blisters/" title="infinitespider">infinitespider</a> from <a href="http://infinitespider.com//" title="InfiniteSpider">http://infinitespider.com/</a></div>
        </body>
</html>
