<!doctype html>
<html lang='en'>
        <head>
                <title>Squirrel Tracker</title>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        </head>
        <body>
<style>
      body{
	padding-top: 30px;
        padding-left: 10px; padding-right: 10px;
      }
</style>
                <p>
		<div align='center'>
			<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1602869586254&di=9855a775c2fb72c53498c434ead56ca7&imgtype=0&src=http%3A%2F%2Fhbimg.b0.upaiyun.com%2F9953d46b1fbed5300020b3c369273f3fe6ddd843f2f46-P8enww_fw658" style="width:700px" class="rounded" alt="..." >
		</div>
		<br>
		<br>
		<h1 style=font-size:88px class='text-center'><strong>Squirrel Tracker by Jiahao & crystal</strong></h1>
		<div align='center'>
			<br>
			<a href="/sightings/" class="btn btn-outline-warning btn-lg active" role="button" aria-pressed="true"><strong>Squirrel Sightings</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/map/" class="btn btn-outline-warning btn-lg active" role="button" aria-pressed="true"><strong>Sightings Map</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/sightings/stats" class="btn btn-outline-warning btn-lg active" role="button" aria-pressed="true"><strong>Sightings Statistics</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/sightings/add" class="btn btn-outline-warning btn-lg active" role="button" aria-pressed="true"><strong>Add New Sighting</strong></a>
		</div>
		</p>
		<br>
		<div style=font-size:12px>
                        Photo credit to: <a href="https://huaban.com/boards/18134365">@artist</a>
                </div>
	</body>
</html>

