<!doctype html>
<html lang="en">

<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom CSS -->
  {% load static %}
  <link rel="stylesheet"  href="{% static 'sightings/carousel.css' %}">
  <title>Squirrels Tracker</title>
</head>

<body>


    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #D4B98F;">
        <a class="navbar-brand" href="#">Squirrels Tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="../../">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/map/">Map</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sightings/">Sightings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sightings/add">Add</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/sightings/stats">Statistics<span class="sr-only">(current)</span></a>
            </li>

          </ul>
        </div>
      </nav>
      
 <div>
			<ul class='table' id="runfrom_table" style="width: 700px">
           <div class="alert alert-warning text-center" style="width: 700px" role="alert">
                                        <h5><strong> Counts of squirrels in different colors </strong></h5>
                                </div>
             <div class="alert alert-warning text-center" style="width: 700px" role="alert">
                                        <h5><strong> Counts of squirrels in different colors </strong></h5>
                                </div>
                                
                                 <tbody>
                                         <tr>
                                                 <th>Primary fur color</th> <br/>
                                            
                                                 <th scope='col'>Black</th>
                                            
                                                 <td>
                                                     {{context.Primary_Fur_Color.Black}}</td> <br/>
                                             <th scope='col'>Gray</th>    
                                                 <td>{{context.Primary_Fur_Color.Gray}}</td>   <br/>
                                             <th scope='col'>Cinnamon</th>
                                                 <td>{{context.Primary_Fur_Color.Cinnamon}}</td>   <br/>
                                         </tr>
                                         <tr>
                                                 <th>percentage %</th> <br/>
                                             <th scope='col'>Black</th>
                                                 <td>{{context.Primary_Fur_Color_pct.Black}}</td>  <br/>
                                             <th scope='col'>Gray</th>
                                                 <td>{{context.Primary_Fur_Color_pct.Gray}}</td>  <br/>
                                             <th scope='col'>Cinnamon</th>
                                                 <td>{{context.Primary_Fur_Color_pct.Cinnamon}}</td>  <br/>
                                         </tr>
                                 </tbody>
                         </ul>
                </div>
		<br>
		<br>
                <div>
                         <ul class='table' id="location_table" style="width: 700px">
				 <div class="alert alert-warning text-center" style="width: 700px" role="alert">
                                        <h5><strong> Counts of squirrels in different locations </strong></h5>
                                </div>
				 <thead class="thead-dark">
                                         <tr>
                                                 <th scope='col'></th>
                                                 <th scope='col'>Above_Ground</th>
                                             <td>{{context.Location_pct.Above_Ground}}</td>  <br/>
                                                 <th scope='col'>Ground_Plane</th>  
                                                <td>{{context.Location_pct.Ground_Plane}}</td>  <br/>
                                         </tr>
                                 </thead>
                                 <tbody>
                                         <tr>

                                         </tr>
                                 </tbody>
                         </ul>
                </div>
		<br>
		<br>
                <div>
			<ul class='table' id="runfrom_table" style="width: 700px">
				<div class="alert alert-primary text-center" style="width: 700px" role="alert">
					<h5><strong> Counts of squirrels that run from people </strong></h5>
				</div>
				<thead class="thead-dark">
					 <tr>
						 <th scope='col'></th>
						 <th scope='col'>True</th>
						 <th scope='col'>False</th>
					 </tr>
				 </thead>
				 <tbody>
					 <tr>
						 <th>Run from people</th>  <br/>
						 <td>{{context.Runs_From.True}}</td>
                     <td>{{context.Runs_From_pct.True}}</td>  <br/>    
						 <td>{{context.Runs_From.False}}</td> 
                       <td>{{context.Runs_From_pct.False}}</td>  <br/>  
				 </tbody>
			 </ul>
                </div>


          </div>
        </div>
        <footer class="container">
            
              <p>
                  Contributed by Jiahao & Crystal.
              </p>
          </footer>   
          

  </body>

</html>
