<!doctype html>
<html>
        <head>
                <title>Squirrel Tracker: Update the Squirrel Sighting</title>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
 integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        </head>
        <body>
<style>body{padding-left:10px; padding-right:10px;}</style>
                <p>
                <br>
		<strong><h2><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1602871638165&di=8620b0e95c3740d87e7b49bdeaf26fe6&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fblog%2F201411%2F15%2F20141115111027_QvKkU.jpeg" style="width:60px" class="rounded" alt="..." >   Update the Squirrel Sighting    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1602871638165&di=8620b0e95c3740d87e7b49bdeaf26fe6&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fblog%2F201411%2F15%2F20141115111027_QvKkU.jpeg" style="width:60px" class="rounded" alt="..." ></strong>
                </h2>
                <p>Please use the following form to update the squirrel sighting</p>
                <hr>
                <br>
                <form method='post'>
                        {% csrf_token %}
                        {{form.as_p}}
                        <br>
                        <p>Thanks for info! <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1602871724768&di=4675516048b330b79e781b0c337de8f1&imgtype=0&src=http%3A%2F%2Fimg.tukuppt.com%2Fphoto-big%2F00%2F16%2F21%2F5a40e35601e71.jpg" style="width:30px" class="rounded" alt="..." ></p>
                        <input type="submit" name="save">
                        <br>
                </form>
                <br>
                <div style=font-size:12px>Icons made by <a href="https://class.duitang.com/blog/?id=594775761" title="Yumi">Yumi</a> from <a href="https://class.duitang.com/blog/?id=594775761" title="duitang">www.duitang.com</a></div>
        </body>
</html>
